version: '3.7'
services:
  jenkins:
    image: tpbtools/gp-jenkins:1.1.0
    build: jenkins
    ports:
      - 8080:8080
    privileged: true
    volumes:
      - ./data/var/jenkins_home:/var/jenkins_home
      - docker:/var/lib/docker

networks:
    default:
      external:
        name: platform_services

volumes:
  docker:
